body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.primaryColor {
    color: white;
}

.secondaryColor {
    color: silver;
}

.thirdColor {
    color: #c3a68a;
}

h2 {
    font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200;
    padding-top: 5.5%;
    padding-bottom: 3.5%;
    font-size: xx-large;
}

h4 {
    font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
}


th {
    background-color: #F3F3F3;
    color: #c3a68a;
    font-weight: bold;
    font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: large;
}

div.ellipsis {
    white-space: nowrap;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.createLabel{
    font-size:medium;
    color:black;
    font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
}
.backgroundPrimary{
    background-color: white;
}
.navbar {
    overflow: hidden;
    background-color: #F3F3F3;
    border: #F3F3F3;
    padding:13px;
}

.navHeader {
    font-size: x-large;
}

.navHeader:hover{
    color:black!important;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar-right {
    float: right;
}

.searchInput {
    float: right;
    box-shadow: none;
    height: 30px;
    color: black;
    text-indent: 10px;
    font-size: 14px;
    border-radius: 18px;
    outline: none;
    border-style: none;
    border-color:black;
}

.linkButton {
    background-color: #F3F3F3;
    border: none;
    color: black;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}