body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.primaryColor {
    color: white;
}

.secondaryColor {
    color: #8a8a8a;
}

.thirdColor {
    color: #c3a68a;
}

h2 {
    font-family: 'Lucida Sans';
}

h4 {
    font-family: 'Lucida Sans';
}

th {
    color: #c3a68a;
    font-weight: bold;
    font-family: 'Lucida Sans';
    font-size: large;
}
