
@{
    ViewBag.Title = "Home Page";
}

<div class="container" align="center">
    <h2 class="secondaryColor">CODE THE BARREL</h2>
    <h4 class="thirdColor">Welcome to Our Storage Inventory</h4>

    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-4">
                <h2 class="secondaryColor">Total Barrels Created:</h2>
                <h4 class="thirdColor"></h4>
            </div>
            <div class="col-sm-4">
                <h2 class="secondaryColor">Total Cubes Created:</h2>
                <h4 class="thirdColor"></h4>
            </div>
            <div class="col-sm-4">
                <h2 class="secondaryColor">Total People Helped:</h2>
                <h4 class="thirdColor">1,000,345</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <h4 class="thirdColor">Create Barrels</h4>
            <p class="body-content">
                Code the Barrel allows users to create barrels of all types of materials, sizes and contents.
                The inventory will record all barrels created and allow the user to find the types of barrels
                they want easily.
            </p>
        </div>
        <div class="col-md-4">
            <h4 class="thirdColor">Create Cubes</h4>
            <p class="body-content">
                Code the Barrel allows users to create barrels of all types of materials, sizes and contents.
                The inventory will record all barrels created and allow the user to find the types of barrels
                they want easily.
            </p>
        </div>
        <div class="col-md-4">
            <h4 class="thirdColor">Store Some Stuff!</h4>
            <p class="body-content">
                Through creating all types of barrels and cubes, the government (and others) will be able to store
                all kinds of products for later use and ease of access.
            </p>
        </div>
    </div>
</div>